*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }


/* Barra de navegación  */

.navbar {
   padding: 1rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales  */


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'IBM Plex Mono', monospace;
}

.seccion-oscura{
    background-color: #212529;
    color: white;
}

.seccion-clara {
    color: black;
    background-color: white;
}


.seccion-titulo {
    font-size:  2rem;
    padding: 15px 0;
    font-family: 'IBM Plex Mono', monospace;
}

.seccion-texto {
    font-size: 1.2rem;
}
/* Seccion Hero */

.hero   {
    background-color: white;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    margin-top: 8rem; 
    padding: 3rem;
}

.hero-imagen-desarrolador {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', monospace;

}

.hero-inferior .contenedor {
    max-width: 900px;
    margin-bottom: 100px;
}

.hero-inferior-imagen {
    height: 80px;
    font-family: 'IBM Plex Mono', monospace;
}

.hero-inferior {
    padding: 0px 0px 50px 0px;
    font-size: 1.4rem;
}

/* sobre mi  */

.sobre-mi {
    height: 900px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* experiencia timeline */

.experiencia{
    padding: 100px 10px 10px 10px;
}

.experiencia-derecha {
    border-color: black;
    border-right: 5px solid;
    
}

.experiencia .borde {
    border-color: black;
    border-left: 5px solid;
}

.experiencia-izquierda {
    border-color: black;
    border-left: 5px solid;
}

.anio-i::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 999px;
    border: 5px solid black;
    transform: translateX(3px);
    
  }

  .anio-d::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 999px;
    border: 5px solid black;
    transform: translateX(-28px);
   
  }

/* formacion */
  .formacion{
    padding: 100px 40px 40px 40px;
}

.formacion .row div {
    height: 300px;
    padding-top: 50px;
}

.formacion i {
   font-size: 2rem;
   color: white;
   background-color: black  ;
   padding: 8px 19px;
   border-radius: 50%;
}

.formacion .columna {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    transition: all 0.2s ease-in;
}

.formacion .columna:hover {
   color: white;
   background-color: #212529;
}

/* referencias  */

.referencias   {
    padding: 100px 40px 80px 40px;
}

.carousel {
    max-width: 400px;
}

.carousel-item {
    height: 400px;
    
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.referencias-img{
    height: 150px;
    width: 150px;
    margin: 10px 100px 20px 100px;
}

.info{
    max-width: 70%;
}

 .cliente {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px; 
}

.cargo {
    font-size: 1rem;
    text-align: center; 
    margin-bottom: 0px; 
}

/* seccion contacto */  

.contacto{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

.formulario {
    max-width: 400px;
    padding: 5px;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px;
}

.mapa {
    max-width: 400px;
    padding: 5px;
    border: solid 2px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}


/* Adaptaciones responsivas   */

@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }
    
    .expereincia .vacia {
        display: none;
    }
    
    .experiencia-derecha{
        padding-top: 20px;
    }

    .experiencia-izquierda {
        border-color: black;
        border-left: 5px solid;
        border-top: 5px solid;
        padding-top: 20px;
       
    }

    .experiencia .borde {
        border-color: black;
        border-left: 5px solid;
        border-top: 5px solid;
        border-bottom: 5px solid;
        padding-top: 20px;
        
    }
}

@media screen and (max-width: 576px){
   
    .sobre-mi {
        height: 1050px;
       
    }
}



@media screen and (min-width: 700px) {
    .hero-principal-imagen {
        max-width: 600px;
    }
  
    
    
}

